@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
* {
    font-family: 'Source Sans Pro', sans-serif;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0 auto;
    background-color: #2d88e3;
    display: flex;
    flex-direction: column;
}
header {
    width: 100%;
    height: 5%;
    background-color: white;
	color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
}
#app {
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
footer {
    background-color: white;
    margin-top: auto;
    width: 100%;
	color: #2b2b2b;
    height: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer > h4 {
    margin-right: 2%;
}